src/dian-soap/infrastructure/wsdl/dian.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://tempuri.org/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  name="Service"
  targetNamespace="http://tempuri.org/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/">
      <!-- Tipos comunes -->
      <xsd:complexType name="XmlFileType">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string"/>
          <xsd:element name="content" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Enviar Request -->
      <xsd:element name="Enviar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tokenEmpresa" type="xsd:string"/>
            <xsd:element name="tokenPassword" type="xsd:string"/>
            <xsd:element name="factura" type="tns:FacturaType"/>
            <xsd:element name="adjuntos" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="FacturaType">
        <xsd:sequence>
          <xsd:element name="cantidadDecimales" type="xsd:int"/>
          <xsd:element name="consecutivoDocumento" type="xsd:string"/>
          <xsd:element name="fechaEmision" type="xsd:string"/>
          <xsd:element name="fechaVencimiento" type="xsd:string"/>
          <xsd:element name="moneda" type="xsd:string"/>
          <xsd:element name="tipoDocumento" type="xsd:string"/>
          <xsd:element name="totalSinImpuestos" type="xsd:decimal"/>
          <xsd:element name="totalConImpuestos" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Enviar Response -->
      <xsd:element name="EnviarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EnviarResult">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="codigo" type="xsd:string"/>
                  <xsd:element name="mensaje" type="xsd:string"/>
                  <xsd:element name="resultado" type="xsd:string"/>
                  <xsd:element name="cufe" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="qr" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetStatus Request -->
      <xsd:element name="GetStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tokenEmpresa" type="xsd:string"/>
            <xsd:element name="tokenPassword" type="xsd:string"/>
            <xsd:element name="documento" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- GetStatus Response -->
      <xsd:element name="GetStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetStatusResult">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="codigo" type="xsd:string"/>
                  <xsd:element name="mensaje" type="xsd:string"/>
                  <xsd:element name="resultado" type="xsd:string"/>
                  <xsd:element name="cufe" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="procesado" type="xsd:boolean"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="EnviarSoapIn">
    <wsdl:part name="parameters" element="tns:Enviar"/>
  </wsdl:message>
  <wsdl:message name="EnviarSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus"/>
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse"/>
  </wsdl:message>

  <!-- Port Type -->
  <wsdl:portType name="IService">
    <wsdl:operation name="Enviar">
      <wsdl:input message="tns:EnviarSoapIn"/>
      <wsdl:output message="tns:EnviarSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusSoapIn"/>
      <wsdl:output message="tns:GetStatusSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="ServiceSoap" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Enviar">
      <soap:operation soapAction="http://tempuri.org/IService/Enviar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IService/GetStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8080/ws/v1.0/Service.svc"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions> 